.header {
  position: fixed;
  z-index: 9999999;
  top: 0;
  width: 100vw; }
  .header.header--noScroll .mainMenu {
    background-color: rgba(69, 82, 107, 0.8); }

@media only screen and (max-width: 1049px) {
  .header .logo .logo__desktop {
    display: none; }

  .mainMenu .mainMenu__mobileNav {
    display: flex;
    position: absolute;
    align-items: center;
    right: 5vw;
    height: 100%;
    z-index: 1; }
    .mainMenu .mainMenu__mobileNav .mainMenu__mobileNavIcon {
      display: flex;
      align-items: center;
      color: #DADADA;
      font-size: 40px;
      transition: color 0.2s; }
      .mainMenu .mainMenu__mobileNav .mainMenu__mobileNavIcon:hover {
        color: white; }
    .mainMenu .mainMenu__mobileNav .mainMenu__mobileNavIcon--noDisplay {
      display: none; }
  .mainMenu .mainMenu__list {
    background-color: #45526b;
    width: 100vw;
    height: 100vh;
    top: -100vh;
    transition: top 0.3s ease-out;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .mainMenu .mainMenu__list.mainMenu__list--active {
      top: 0; }
  .mainMenu .mainMenu__menuItem {
    margin: 5px; }
    .mainMenu .mainMenu__menuItem:after {
      content: '';
      position: relative;
      left: 50%;
      top: 2px;
      transform: translateX(-50%);
      width: 70%;
      background-color: white;
      opacity: 0;
      display: block;
      height: 2px;
      transition: opacity 0.2s, top 0.2s; }
    .mainMenu .mainMenu__menuItem a {
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 5px 15px 5px 15px;
      color: #DADADA;
      font-weight: bold;
      font-size: 2.0em;
      transition: color 0.2s; }
      .mainMenu .mainMenu__menuItem a:hover {
        color: white; }
    .mainMenu .mainMenu__menuItem:hover:after {
      content: '';
      position: relative;
      left: 50%;
      top: 0px;
      transform: translateX(-50%);
      width: 70%;
      background-color: white;
      opacity: 1;
      display: block;
      height: 2px; }
  .mainMenu.mainMenu--backgroundVisible {
    background-color: rgba(69, 82, 107, 0.8); } }
@media only screen and (min-width: 1050px) {
  .header .mainMenu .mainMenu__mobileNav {
    display: none; }

  .header .logo .logo__mobile {
    display: none; }

  .header.header--aboutActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--about a {
    color: white;
    transition: none; }
  .header.header--aboutActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--about:after {
    content: '';
    position: relative;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 70%;
    background-color: white;
    opacity: 1;
    display: block;
    height: 2px;
    transition: none; }
  .header.header--teamsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--teams a {
    color: white;
    transition: none; }
  .header.header--teamsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--teams:after {
    content: '';
    position: relative;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 70%;
    background-color: white;
    opacity: 1;
    display: block;
    height: 2px;
    transition: none; }
  .header.header--eventsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--events a {
    color: white;
    transition: none; }
  .header.header--eventsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--events:after {
    content: '';
    position: relative;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 70%;
    background-color: white;
    opacity: 1;
    display: block;
    height: 2px;
    transition: none; }
  .header.header--sponsorsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--sponsors a {
    color: white;
    transition: none; }
  .header.header--sponsorsActive .mainMenu .mainMenu__menuItem.mainMenu__menuItem--sponsors:after {
    content: '';
    position: relative;
    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    width: 70%;
    background-color: white;
    opacity: 1;
    display: block;
    height: 2px;
    transition: none; }

  .mainMenu .mainMenu__list {
    bottom: 5px;
    right: 5vw; }
  .mainMenu .mainMenu__menuItem {
    margin: 5px; }
    .mainMenu .mainMenu__menuItem:after {
      content: '';
      position: relative;
      left: 50%;
      top: 2px;
      transform: translateX(-50%);
      width: 70%;
      background-color: white;
      opacity: 0;
      display: block;
      height: 2px;
      transition: opacity 0.2s, top 0.2s; }
    .mainMenu .mainMenu__menuItem a {
      text-decoration: none;
      display: block;
      text-align: center;
      padding: 5px 15px 5px 15px;
      color: #DADADA;
      font-weight: bold;
      font-size: 1.0em;
      transition: color 0.2s; }
      .mainMenu .mainMenu__menuItem a:hover {
        color: white; }
    .mainMenu .mainMenu__menuItem:hover:after {
      content: '';
      position: relative;
      left: 50%;
      top: 0px;
      transform: translateX(-50%);
      width: 70%;
      background-color: white;
      opacity: 1;
      display: block;
      height: 2px; }
  .mainMenu.mainMenu--backgroundVisible {
    background-color: rgba(69, 82, 107, 0.8); } }
.mainMenu {
  transition: background-color 0.2s;
  background-color: rgba(0, 0, 0, 0);
  height: 75px;
  width: 100%; }
  .mainMenu .mainMenu__list {
    list-style-type: none;
    display: flex;
    position: absolute; }

.logo.logo--header {
  position: absolute;
  left: 3vw;
  bottom: 0px;
  height: 75px;
  z-index: 1; }
.logo img {
  height: 100%; }

/*FOOTER*/
footer {
  position: relative;
  width: 100%;
  height: 150px;
  /* Style all font awesome icons */ }
  footer .footer-content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
  footer .footer-text {
    font-size: 1.3em;
    width: 100%;
    text-align: center;
    white-space: nowrap; }
    @media only screen and (max-width: 460px) {
      footer .footer-text {
        font-size: 1.2em; } }
    @media only screen and (max-width: 440px) {
      footer .footer-text {
        font-size: 1.1em; } }
    @media only screen and (max-width: 420px) {
      footer .footer-text {
        font-size: 1.0em; } }
    @media only screen and (max-width: 340px) {
      footer .footer-text {
        font-size: 0.9em; } }
  footer .social-icons {
    width: 100%;
    text-align: center; }
  footer a {
    font-size: 1.6em;
    /* Add a hover effect if you want */ }
    footer a .fa {
      padding: 10px;
      color: #333; }
    footer a .fa:hover {
      opacity: 0.8; }

/* Set a specific color for each brand */
/* Facebook */
/*
.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

*/
section {
  position: relative;
  width: 100%;
  height: fit-content;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F5F9Fc;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%); }
  section:nth-child(odd) {
    background-color: #D2DCE5; }
  section.section__pageDescription p {
    max-width: 80%;
    text-align: center;
    color: #45526B; }
  section .section__Title {
    padding-bottom: 20px;
    position: relative;
    text-align: center;
    font-size: 2.0em;
    width: 100%; }
    section .section__Title:after {
      display: block;
      content: '';
      height: 3px;
      width: 30px;
      background-color: #CD959A;
      margin-top: 10px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%); }

.bannerImage {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 1049px) {
    .bannerImage .bannerImage__bannerImage__hackathonTextBlock .buttonBlock {
      align-items: center;
      flex-direction: column; }
    .bannerImage .bannerImage__bannerImage__hackathonTextBlock .buttonBlock__twoCol {
      margin-top: 10px;
      margin-bottom: 10px; }
    .bannerImage .bannerImage__image.bannerImage__image {
      background-position: 50% 25%; } }
  @media only screen and (min-width: 1050px) {
    .bannerImage .bannerImage__bannerImage__hackathonTextBlock {
      padding-top: 20px; }
      .bannerImage .bannerImage__bannerImage__hackathonTextBlock .buttonBlock {
        justify-content: center;
        padding-top: 15px; }
      .bannerImage .bannerImage__bannerImage__hackathonTextBlock .buttonBlock__twoCol {
        margin-left: 35px;
        margin-right: 35px; }
    .bannerImage .bannerImage__image.bannerImage__image {
      background-position: 50% 30%; } }
  .bannerImage .bannerImage__textBlock {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; }
    .bannerImage .bannerImage__textBlock .textBlock__titleText {
      color: #fff;
      text-align: center;
      font-size: 5em; }
    .bannerImage .bannerImage__textBlock .textBlock__subText {
      color: #fff;
      text-align: center;
      font-size: 1.5em; }
  .bannerImage .bannerImage__bannerImage__hackathonTextBlock {
    position: absolute;
    z-index: 2;
    top: 60%;
    left: 50%;
    transform: translateX(-50%); }
    .bannerImage .bannerImage__bannerImage__hackathonTextBlock .textBlock__hackathonTitle {
      color: #fff;
      text-align: center;
      font-size: 1.8em; }
    .bannerImage .bannerImage__bannerImage__hackathonTextBlock .textBlock__hackathonDate {
      color: #fff;
      text-align: center;
      font-size: 0.8em; }
    .bannerImage .bannerImage__bannerImage__hackathonTextBlock .textBlock__hackathonCountdown {
      padding: 15px;
      color: #fff;
      text-align: center;
      font-size: 2.1em;
      white-space: nowrap; }
      @media only screen and (max-width: 580px) {
        .bannerImage .bannerImage__bannerImage__hackathonTextBlock .textBlock__hackathonCountdown {
          font-size: 1.9em; } }
      @media only screen and (max-width: 500px) {
        .bannerImage .bannerImage__bannerImage__hackathonTextBlock .textBlock__hackathonCountdown {
          font-size: 1.8em; } }
      @media only screen and (max-width: 450px) {
        .bannerImage .bannerImage__bannerImage__hackathonTextBlock .textBlock__hackathonCountdown {
          font-size: 1.6em; } }
      @media only screen and (max-width: 400px) {
        .bannerImage .bannerImage__bannerImage__hackathonTextBlock .textBlock__hackathonCountdown {
          font-size: 1.4em; } }
      @media only screen and (max-width: 370px) {
        .bannerImage .bannerImage__bannerImage__hackathonTextBlock .textBlock__hackathonCountdown {
          font-size: 1.3em; } }
    .bannerImage .bannerImage__bannerImage__hackathonTextBlock .buttonBlock {
      position: relative;
      display: flex; }
      .bannerImage .bannerImage__bannerImage__hackathonTextBlock .buttonBlock .buttonBlock__twoCol {
        color: white;
        border-color: white;
        border-width: 1px;
        border-style: solid;
        width: 150px;
        text-align: center;
        padding: 5px 0 5px 0;
        transition: 0.2s color linear, 0.2s background-color linear; }
        .bannerImage .bannerImage__bannerImage__hackathonTextBlock .buttonBlock .buttonBlock__twoCol:hover {
          color: black;
          background-color: white;
          cursor: pointer; }
  .bannerImage .bannerImage__overley {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2; }
  .bannerImage .bannerImage__background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to bottom, rgba(69, 82, 107, 0.8), rgba(0, 0, 0, 0.2)); }
  .bannerImage .bannerImage__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover; }
    .bannerImage .bannerImage__image.bannerImage__image--about {
      background-image: url("../img/UTRA Exec Photoshoot 171120/DSC_4016.jpg");
      background-position: 50% 30%; }
    .bannerImage .bannerImage__image.bannerImage__image--hackathon {
      z-index: 1;
      background-image: url("../img/hackathonIcons/torontoSkylineHD.png");
      background-size: auto 40%; }

.shortBanner {
  width: 100%;
  padding-top: 75px;
  height: 40vh;
  position: relative;
  background-color: #F5F9Fc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .shortBanner .shortBanner__titleText {
    color: #45526B;
    font-size: 3em; }
  .shortBanner .shortBanner__content p {
    color: #45526B; }
  .shortBanner.shortBanner--noPhoto {
    height: 25vh; }

.fullScreenImage {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .fullScreenImage .fullScreenImage__overley {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.2; }
  .fullScreenImage .fullScreenImage__image {
    background-image: url("../img/SUMO/good.jpg");
    background-size: cover;
    background-position: 50% 25%;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%; }

.aboutPageWrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 4vw; }

.sideMenu {
  height: 190px;
  margin-top: calc(30px + 6%);
  margin-right: 5vw;
  margin-left: 5vw; }
  .sideMenu .sideMenu__titleText {
    font-size: 1.9em;
    font-weight: 500;
    color: #45526B; }
    .sideMenu .sideMenu__titleText:after {
      display: block;
      content: '';
      height: 3px;
      width: 26.5px;
      background-color: #CD959A;
      margin-top: 10px; }
  .sideMenu .sideMenu__list {
    list-style-type: none;
    margin-top: 25px; }
    .sideMenu .sideMenu__list .sideMenu__menuItem {
      padding: 2.5px 0px 0px 2.5px;
      font-size: 1.2em;
      color: #45526B;
      opacity: 0.8;
      cursor: pointer;
      transition: color 0.2s; }
      .sideMenu .sideMenu__list .sideMenu__menuItem:hover {
        color: #CD959A; }

.infoBlock {
  background-color: #F5F9FC;
  flex: 1;
  margin-right: 10vw;
  padding-top: calc(30px + 6%);
  padding-bottom: calc(30px + 6%);
  padding-left: calc(20px + 7.5%);
  padding-right: calc(20px + 7.5%); }
  .infoBlock .infoBlock__title {
    position: relative;
    font-size: 2em;
    font-weight: 700;
    color: #45526B;
    margin-top: 20px;
    margin-bottom: 20px; }
    .infoBlock .infoBlock__title:first-child {
      margin-top: 0px; }
    .infoBlock .infoBlock__title.infoBlock__title--caption {
      font-size: 3em;
      font-weight: 800; }
  .infoBlock .infoBlock__paragraph {
    line-height: 25px;
    color: #45526B;
    opacity: 0.8;
    margin-top: 20px;
    margin-bottom: 20px; }

.infoBlock__executiveWrapper {
  position: relative; }
  .infoBlock__executiveWrapper .infoBlock__execRow {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .infoBlock__executiveWrapper .infoBlock__execImageWrapper {
    position: relative;
    width: 20%;
    padding-bottom: 24.5%; }
  .infoBlock__executiveWrapper .infoBlock__execImage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .infoBlock__executiveWrapper .infoBlock__execImage:hover .infoBlock__execFader {
      opacity: 0.8; }
    .infoBlock__executiveWrapper .infoBlock__execImage:hover .infoBlock__execName {
      opacity: 1; }
    .infoBlock__executiveWrapper .infoBlock__execImage:hover .infoBlock__execPosition {
      opacity: 1; }
    .infoBlock__executiveWrapper .infoBlock__execImage:hover .infoBlock__execYear {
      opacity: 1; }
    .infoBlock__executiveWrapper .infoBlock__execImage:hover .infoBlock__execSocial {
      opacity: 1; }
    .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execFader {
      position: absolute;
      background-color: #F5F9Fc;
      opacity: 0;
      transition: opacity 0.2s;
      height: 100%;
      width: 100%;
      z-index: 0; }
    .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execName {
      position: relative;
      opacity: 0;
      transition: opacity 0.2s;
      z-index: 1;
      pointer-events: none;
      color: #45526B;
      font-weight: 600; }
    .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execPosition {
      position: relative;
      opacity: 0;
      transition: opacity 0.2s;
      z-index: 1;
      pointer-events: none;
      color: #45526B; }
    .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execYear {
      position: relative;
      opacity: 0;
      transition: opacity 0.2s;
      z-index: 1;
      pointer-events: none;
      color: #45526B; }
    .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execSocial {
      position: relative;
      opacity: 0;
      transition: opacity 0.2s;
      z-index: 1; }
      .infoBlock__executiveWrapper .infoBlock__execImage .infoBlock__execSocial i {
        font-size: 1.5em;
        color: #45526B; }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--President {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3942.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--VP_Ops {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3865.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--Director_website {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3875.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--Director_graphics1 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3889.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis1 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3807.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis2 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3822.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis3 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3834.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis4 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3844.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis5 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3850.jpg"); }
    .infoBlock__executiveWrapper .infoBlock__execImage.infoBlock__execImage--whodis6 {
      background-image: url("../img/UTRA Exec Photoshoot 171120/headshots/DSC_3851.jpg"); }

.columnWrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 400px; }
  .columnWrapper .form {
    flex: 2;
    height: 100%; }
    .columnWrapper .form .infoBlock__paragraph {
      margin-top: 0px; }
  .columnWrapper .map {
    flex: 2;
    height: 100%; }

#googleMaps {
  width: 100%;
  height: 100%; }

.bannerImage .bannerImage__image.bannerImage__image--teams {
  background-image: url("../img/Combat/Cover Photo.jpg");
  background-position: 50% 30%; }

.flexContainer {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 20px; }
  .flexContainer .teamContainer {
    height: 300px;
    width: 400px;
    background-color: #F5F9Fc;
    margin: 10px; }

.section__eventsCalendar {
  position: relative;
  display: flex;
  width: 80%;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #F5F9Fc; }

.section__sponsors {
  width: 80%;
  position: relative;
  display: flex;
  flex-direction: column; }

.sponsorList {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px; }
  .sponsorList .sponsorList__img {
    position: relative;
    height: 100px;
    margin: 15px; }
    .sponsorList .sponsorList__img img {
      height: 100%;
      opacity: 1; }

.section__codeOfConduct {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px; }
  .section__codeOfConduct.section--backgroundLightColor {
    background-color: #F5F9Fc; }
  .section__codeOfConduct p {
    text-align: left;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-left: 5vw;
    margin-right: 5vw; }
    .section__codeOfConduct p:first-child {
      padding-top: 0px; }
    .section__codeOfConduct p:last-child {
      padding-bottom: 10px; }

.codeOfConductBack {
  text-decoration: none; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100vw;
  overflow-x: hidden;
  background-color: #D2DCE5; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Abel', sans-serif;
  font-style: normal; }

/*# sourceMappingURL=main.css.map */
