<div class="footer-content" >
	<div class="footer-text">
		&copy 2018 University of Toronto Robotics Association
	</div>
	<br>
	<div class="social-icons">
		<a href="https://www.facebook.com/utrahacks2018/"><i class="fa fa-facebook"></i></a>
		<!-- <a href=""><i class="fa fa-snapchat-ghost"></i></a> -->
		<a href="https://www.instagram.com/utrahacks/"><i class="fa fa-instagram"></i></a>
		<a href="https://join.slack.com/t/utrahacks/shared_invite/enQtNDM2MjU5ODE5NzQ4LWVkZDE4MzZlMDM1M2QxMTRjMDM2OTA0ZGI2NmE3YzQwZTgyMDBmODA3MmQ2MDAxNTI0YTY0NTA3MzJkYTYzNTI"><i class="fa fa-slack"></i></a>
	</div>
</div>
