<div class="footer-content" >
	<div class="footer-text">
		&copy 2018 University of Toronto Robotics Association
	</div>
	<br>
	<div class="social-icons">
		<a href="https://www.facebook.com/utrahacks2018/"><i class="fa fa-facebook"></i></a>
		<!-- <a href=""><i class="fa fa-snapchat-ghost"></i></a> -->
		<a href="https://www.instagram.com/utrahacks/"><i class="fa fa-instagram"></i></a>
		<a href="https://join.slack.com/t/utrahacks/shared_invite/enQtNDE1NDk5MTcyNDMzLTkxNTMzNmM1NGIxZGFmY2IzNzBkZTIzOGFkNmEwMTZjZDdjYmY4M2NjNDcxZjQ4MGMyMDdiMzE1ODdiNzRlMjc"><i class="fa fa-slack"></i></a>
	</div>
</div>
