<div class="logo logo--header">
	<a href="{{ "/hackathon" | relative_url }}">
		<img class="logo__desktop" src="{{ "./Pictures/hackathon/Logo/utraLogoWhite.png" | absolute_url }}" alt="UTRA"> 
		<img class="logo__mobile" src="{{ "./Pictures/hackathon/Logo/utraLogoWhiteMobile.png" | absolute_url }}" alt="UTRA"> 
	</a>
</div>

<nav class="mainMenu">
	<div class="mainMenu__mobileNav">
		<i id="mobileNav__open" class="mainMenu__mobileNavIcon ion-md-menu"></i>
		<i id="mobileNav__close" class="mainMenu__mobileNavIcon mainMenu__mobileNavIcon--noDisplay icon ion-md-close"></i>
	</div>
	<ul class="mainMenu__list">
		<li class="mainMenu__menuItem mainMenu__menuItem--about"><a href="#about">About</a></li>
		<li class="mainMenu__menuItem mainMenu__menuItem--schedule"><a href="#schedule">Schedule</a></li>
		<li class="mainMenu__menuItem mainMenu__menuItem--location"><a href="#location">Location</a></li>
		<li class="mainMenu__menuItem mainMenu__menuItem--faq"><a href="#faq">FAQ</a></li>
		<li class="mainMenu__menuItem mainMenu__menuItem--sponsors"><a href="#sponsors">Partners</a></li>
	</ul>
</nav>